@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="contact" style="padding: 160px 0 20px 0">
    <div class="container">
        <div class="section-header" style="padding: 0 0 20px 0">
            <h3 class="section-title">@Localizer["Title"]</h3>
        </div>
        <div style="text-align:justify">
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=h10800433">@Localizer["1"]</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=P31800202">@Localizer["2"]</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=P31000200">@Localizer["3"]</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=C21200156">@Localizer["4"]</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=C21700529">@Localizer["5"]</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=C21800740">@Localizer["6"]</a>
            </p>
            <p>
                <a href="http://pravo.by/document/?guid=3961&p0=C21800741">@Localizer["7"]</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=p00600002">@Localizer["8"]</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=C21700445">@Localizer["9"]</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=C21700445">@Localizer["10"]</a>
            </p>
        </div>
    </div>
</section>