@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="about" style="padding:140px 0 20px 0">
    <div class="container">
        <div class="about-container">
            <div class="content order-lg-1 order-2">
                <h2 class="title">@Localizer["Title"]</h2>
                <div>
                    @Localizer["About"]
                </div>

                <button type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    @Localizer["ButtonTitleCollapse"]
                </button>

                <div class="collapse" id="collapse1">
                    <div class="card card-body">
                        @Localizer["AboutCollapse"]
                    </div>
                </div>

                <button type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    @Localizer["ButtonTitleCollapse2"]
                </button>

                <div class="collapse" id="collapse2">
                    <div class="card card-body">
                        @Localizer["AboutCollapse2"]
                    </div>
                </div>

                <br />
                @Localizer["Economy"]
            </div>
        </div>
    </div>
</section>