@model IEnumerable<Website.Models.WebSiteBD.NewsTable>

@{
    ViewData["Title"] = "News table";
}
<div class="text-center" style="        padding: 80px 15px 80px 15px;">
    <h1 class="display-4">
        График проведения
        тематических дней
        информирования
    </h1>
    <a asp-controller="AddNews" asp-action="Index">Новости</a><br /><br />
    @TempData["message"]
    <div>
        <table id="tablePreview" class="table table-striped">
            <thead>
                <tr>
                    <th>Дата, время проведения</th>
                    <th>Тема дня информирования</th>
                    <th>Ответственный исполнитель</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var news in Model)
                {
                    <tr>
                        <td>@news.DateTime</td>
                        <td>@Html.ActionLink(news.Name, "EditTable", new { news.Id })</td>
                        <td>@news.Executor</td>
                        <td>
                            @using (Html.BeginForm("DeleteTable", "AddNews"))
                            {
                                @Html.Hidden("Id", news.Id)
                                <input type="submit"
                                       class="btn btn-danger btn-xs"
                                       value="Удалить" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить новость", "CreateTable", null,
            new { @class = "btn btn-default" })
        <br />   <br />
        @using (Html.BeginForm("SaveNewsTable", "AddNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <button type="submit" class="btn btn-primary">Загрузить файл</button>
        }
    </div>
</div>


