 @using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mgaon.by</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SectionViewsHome.css" />
    <!--Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <!--Header Section-->
    <header id="header" class="header-fixed">
        <div class="container">

            <div class="row">
                <!--Button Visually Impaired-->
                <div>
                    <button id="specialButton" class="navbar-eye" href="#">
                        <span class="fa fa-low-vision"></span>
                    </button>
                </div>

                <div id="logo">
                    <h1>
                        <a asp-controller="Home" asp-action="Index">МГАОН</a>
                    </h1>
                </div>

                <!--Button Menu-->
                <button id="navbar-togglers" class="navbar-togglers" onclick="openNav()"> <span class="fa fa-bars"></span> </button>

                <div class="SelectLanguage"> <span> @await Html.PartialAsync("_SelectLanguagePartial")</span> </div>

                <!--Search Section-->
                <div class="navbar-search" data-bem="{&quot;action&quot;:&quot;https://yandex.ru/search/site/&quot;,&quot;arrow&quot;:true,&quot;bg&quot;:&quot;#ffffff&quot;,&quot;fontsize&quot;:16,&quot;fg&quot;:&quot;#000000&quot;,&quot;language&quot;:&quot;ru&quot;,&quot;logo&quot;:&quot;rb&quot;,&quot;publicname&quot;:&quot;Mgaon.by&quot;,&quot;suggest&quot;:true,&quot;target&quot;:&quot;_self&quot;,&quot;tld&quot;:&quot;ru&quot;,&quot;usebigdictionary&quot;:true,&quot;searchid&quot;:2373846,&quot;input_fg&quot;:&quot;#000000&quot;,&quot;input_bg&quot;:&quot;#ffffff&quot;,&quot;input_fontStyle&quot;:&quot;normal&quot;,&quot;input_fontWeight&quot;:&quot;normal&quot;,&quot;input_placeholder&quot;:&quot;&quot;,&quot;input_placeholderColor&quot;:&quot;#000000&quot;,&quot;input_borderColor&quot;:&quot;#ffffff&quot;}">
                    <form action="https://yandex.ru/search/site/" method="get" target="_self" accept-charset="utf-8">
                        <input type="hidden" name="searchid" value="2373846" />
                        <input type="hidden" name="l10n" value="ru" />
                        <input type="hidden" name="reqenc" value="" />
                        <input type="search" name="text" value="" style="border-radius: 10px; border:0" />
                        <button type="submit" style="color: #fff; font-size: 20px; cursor: pointer; border:0; background-color: rgba(52, 59, 64, 0.0); transition: background 0.5s; border-radius: 10px;">
                            <span class="fa fa-search"></span>
                        </button>
                    </form>
                </div>

                <style type="text/css">
                    .ya-page_js_yes .ya-site-form_inited_no {
                        display: none;
                    }
                </style>
            </div>

            <!--navbar-->
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class="fa fa-bars"></span></a>

                <div class="overlay-content row">
                    <div class="col-sm-4 container text-center">
                        <br>
                        <h4 style="color: #f7f7f7;">@Localizer["Enterprise"]</h4>
                        <a asp-controller="Home" asp-action="Index" asp-fragment="about" onclick="closeNav()">@Localizer["About"]</a> <br />
                        <a asp-controller="Home" asp-action="Index" asp-fragment="facts" onclick="closeNav()">@Localizer["Facts"]</a> <br />
                        <a asp-controller="Home" asp-action="Index" asp-fragment="area" onclick="closeNav()">@Localizer["Department"]</a> <br />
                        <a asp-controller="Home" asp-action="Index" asp-fragment="call-to-action" onclick="closeNav()">@Localizer["CallCenter"]</a> <br />
                        <a asp-controller="Home" asp-action="Index" asp-fragment="news" onclick="closeNav()">@Localizer["News"]</a> <br />
                        <a asp-controller="Home" asp-action="Index" asp-fragment="trade-union-organization" onclick="closeNav()">@Localizer["Union"]</a> <br />
                        <a asp-controller="Home" asp-action="Index" asp-fragment="contact" onclick="closeNav()">@Localizer["Сontact"]</a>
                    </div>

                    <div class="col-sm-4 container text-center">
                        <br>
                        <h4 style="color: #f7f7f7;">@Localizer["Service"]</h4>
                        <a href="http://prereg.mgaon.by" onclick="closeNav()">Предварительная запись в службу «одно окно»</a><br />
                        <a asp-controller="Service" asp-action="Information" onclick="closeNav()">Сведения о прохождении документов через службу «одно окно»</a>
                        <a asp-controller="Service" asp-action="Index" onclick="closeNav()">Обращение к руководству предприятия</a><br />
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfx5Ny-YbLxyEZvU3E4_dmmpFLWesSv_7_WORTUwGdtHd7uRA/viewform?c=0&w=1" onclick="closeNav()">Анкета оценки работы cлужбы «одно окно»</a><br />
                    </div>

                    <div class="col-sm-4 container text-center">
                        <br>
                        <h4 style="color: #f7f7f7;">@Localizer["ReferenceInformation"]</h4>
                        <a asp-controller="HelpInformation" asp-action="Index">Справочно-информационная система</a><br />
                        <a asp-controller="HelpInformation" asp-action="AdmProcedure">Законодательство об административных процедурах</a><br />
                        <a asp-controller="HelpInformation" asp-action="UniqueId">Уникальный идентификатор / Электронная цифровая подпись</a>
                        <a asp-controller="HelpInformation" asp-action="WebCamers">Веб-камеры в службах «одно окно»</a><br />
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <!--End Header Section-->
    <!--Main Section-->
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <!-- End Main Section-->
    <!--Footer Section-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Mgaon.by</strong>
            </div>
        </div>
    </footer>
    <!--End Footer Section-->

    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
            document.getElementById("navbar-togglers").style.display = "none";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            document.getElementById("navbar-togglers").style.display = "inline";
        }
    </script>

    <!--Для яндекс поиск-->
    <script type="text/javascript">
        (function (w, d, c) {
            var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement;
            if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) {
                e.className += ' ya-page_js_yes';
            }
            s.type = 'text/javascript'; s.async = true; s.charset = 'utf-8';
            s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
            h.parentNode.insertBefore(s, h); (w[c] || (w[c] = [])).push(function () { Ya.Site.Form.init() })
        }
        )
            (window, document, 'yandex_site_callbacks');
    </script>

    <environment include="Staging,Production">
        <!--Для слобовидящих-->
        <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
        <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-masked/jquery.maskedinput.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" charset="windows-1251" src="~/js/main.js"></script>
    </environment>
</body>

</html>
