@model IEnumerable<Website.Models.WebSiteBD.Procedures>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="about">
    <div class="container">
        <div class="about-container">
            <div class="content order-lg-1 order-2">
                <h2 class="title">@Localizer["TitleAbout"]</h2>
                <p>@Localizer["About"]</p>
                <p><b>@Localizer["ObjectivesCompany"]</b></p>
                <div class="icon-box">
                    <div class="icon"><i class="fa  fa-handshake-o"></i></div>
                    <h4 class="title"><a href="">@Localizer["RenderingServices"]</a></h4>
                    <p class="description">@Localizer["Services"]</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <h4 class="title"><a href="">@Localizer["ConsultationCitizens"]</a></h4>
                    <p class="description">@Localizer["Consultation"]</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-file-text"></i></div>
                    <h4 class="title"><a href="">@Localizer["CollectionDocuments"]</a></h4>
                    <p class="description">@Localizer["ProvidingCollection"]</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-bullhorn"></i></div>
                    <h4 class="title"><a href="">@Localizer["InformingCitizens"]</a></h4>
                    <p class="description">@Localizer["Informing"]</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-modx"></i></div>
                    <h4 class="title"><a href="">@Localizer["OtherFacilities"]</a></h4>
                    <p class="description">@Localizer["Other"]</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="box">
                    <div class="icon" onclick="openEnterpriseStructure()"><span onclick="openEnterpriseStructure()"><i class="fa fa-linode"></i></span></div>
                    <h4 class="title"><span>@Localizer["EnterprisStructure"]</span></h4>
                    <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>-->
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="box">
                    <div class="icon" onclick="openPhoneStructure()"><span onclick="openPhoneStructure()"><i class="fa fa-address-book"></i></span></div>
                    <h4 class="title"><span>@Localizer["TelephoneDirectory"]</span></h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="box">
                    <div class="icon" onclick="openAdmProcess()"><span onclick="openAdmProcess()"><i class="fa fa-tasks"></i></span></div>
                    <h4 class="title"><span>@Localizer["AdministrativeProcedure"]</span></h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="box">
                    <div class="icon" onclick="openPersonalReception()"><span onclick="openPersonalReception()"><i class="fa fa-clock-o"></i></span></div>
                    <h4 class="title"><span>@Localizer["ReceptionSchedule"]</span></h4>
                </div>
            </div>
        </div>

        <!-- Структура МГАОН -->
        <div id="myEnterpriseStructure" class="fullScreen">
            <a href="javascript:void(0)" class="closebtn" onclick="closeEnterpriseStructure()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
            <div class="fullScreen-content">
                <div class="container">
                    <h2 class="title">@Localizer["EnterprisStructureTitle"]</h2>
                    <img src="/img/@Localizer["EnterprisStructureIMG"]" />
                </div>
            </div>
        </div>

        <!-- Телефонный справочник -->
        <div id="myPhoneStructure" class="fullScreen">
            <a href="javascript:void(0)" class="closebtn" onclick="closePhoneStructure()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
            <div class="fullScreen-content">
                <div class="container">
                    <h2 class="title">@Localizer["TelephoneDirectoryTitle"]</h2>
                    <table class="table table-hover" style="text-align:left">
                        <tbody>
                            <tr>
                                <td>
                                    @Localizer["Efimov"]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Localizer["Trushkevich"]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Localizer["Danko"]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Localizer["Shipova"]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Localizer["Stupchik"]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Localizer["GeneralDepartment"]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Localizer["DB"]
                                    <div style="padding-left:40px">
                                        @Localizer["1"]
                                        @Localizer["2"]
                                        @Localizer["3"]
                                        <div style="padding-left:40px">
                                            @Localizer["3_1"]
                                            @Localizer["3_2"]
                                        </div>
                                        @Localizer["4"]
                                        @Localizer["5"]
                                        <div style="padding-left:40px">
                                            @Localizer["5_1"]
                                        </div>
                                        @Localizer["6"]
                                        <div style="padding-left:40px">
                                            @Localizer["6_1"]
                                        </div>
                                        @Localizer["7"]
                                        <div style="padding-left:40px">
                                            @Localizer["7_1"]
                                        </div>
                                        @Localizer["8"]
                                        <div style="padding-left:40px">
                                            @Localizer["8_1"]
                                            @Localizer["8_2"]
                                            @Localizer["8_3"]
                                        </div>
                                        @Localizer["9"]
                                        @Localizer["10"]
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Localizer["ContactCenter"]
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!--  Перечень административных процедур -->
        <div id="myAdmProcess" class="fullScreen">
            <a href="javascript:void(0)" class="closebtn" onclick="closeAdmProcess()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
            <div class="fullScreen-content">
                <div class="container">
                    <h2 class="title">
                        @Localizer["AdministrativeProcedureTitle"] 
                    </h2>
                    <p class="description">
                        @Localizer["Procedure"] 
                    </p>
                    <div style="text-align:left">
                        <p>
                            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                ГЛАВА 2. ТРУД И СОЦИАЛЬНАЯ ЗАЩИТА
                            </a>
                        </p>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                @foreach (var item in Model)
                                {
                                    @if (item.Chapter == 2)
                                    {
                                        <p>
                                            <a data-toggle="collapse" href="#collapse_@item.Id" role="button" aria-expanded="false" aria-controls="collapse_@item.Id">
                                                @item.Title
                                            </a>
                                        </p>
                                        <div class="collapse" id="collapse_@item.Id">
                                            <div class="card card-body">
                                                <table class="table table-hover" style="text-align:left">
                                                    <tbody>
                                                        <tr>
                                                            <td>Ф.И.О., должность ответственного за осуществление приема, выдачу справок и других документов, телефон, кабинет</td>
                                                            <td>@item.FIO</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Документы и(или) сведения, представляемые гражданином для осуществления административной процедуры</td>
                                                            <td>@item.Documents</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Размер платы, взимаемой при осуществлении административной процедуры</td>
                                                            <td>@item.Cost</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Максимальный срок осуществления административной процедуры</td>
                                                            <td>@item.MaximumTerm</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Срок действия справки, другого документа (решения), выдаваемых при осуществлении административной процедуры</td>
                                                            <td>@item.Term</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                        <p>
                            <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                                ГЛАВА 18. ПОЛУЧЕННЫЕ ДОХОДЫ И УПЛАЧЕННЫЕ НАЛОГИ, СБОРЫ (ПОШЛИНЫ). ПОЛУЧЕНИЕ ИНФОРМАЦИИ ИЗ ЕДИНОГО ГОСУДАРСТВЕННОГО РЕГИСТРА ЮРИДИЧЕСКИХ ЛИЦ И ИНДИВИДУАЛЬНЫХ ПРЕДПРИНИМАТЕЛЕЙ. ПРОСТАВЛЕНИЕ АПОСТИЛЯ НА ДОКУМЕНТАХ ИЛИ ЛЕГАЛИЗАЦИЯ ДОКУМЕНТОВ
                            </a>
                        </p>

                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                @foreach (var item in Model)
                                {
                                    @if (item.Chapter == 18)
                                    {
                                        <p>
                                            <a data-toggle="collapse" href="#collapse_@item.Id" role="button" aria-expanded="false" aria-controls="collapse_@item.Id">
                                                @item.Title
                                            </a>
                                        </p>
                                        <div class="collapse" id="collapse_@item.Id">
                                            <div class="card card-body">
                                                <table class="table table-hover" style="text-align:left">
                                                    <tbody>
                                                        <tr>
                                                            <td>Ф.И.О., должность ответственного за осуществление приема, выдачу справок и других документов, телефон, кабинет</td>
                                                            <td>@item.FIO</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Документы и(или) сведения, представляемые гражданином для осуществления административной процедуры</td>
                                                            <td>@item.Documents</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Размер платы, взимаемой при осуществлении административной процедуры</td>
                                                            <td>@item.Cost</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Максимальный срок осуществления административной процедуры</td>
                                                            <td>@item.MaximumTerm</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Срок действия справки, другого документа (решения), выдаваемых при осуществлении административной процедуры</td>
                                                            <td>@item.Term</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--  График -->
        <div id="myPersonalReception" class="fullScreen">
            <a href="javascript:void(0)" class="closebtn" onclick="closePersonalReception()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
            <div class="fullScreen-content">
                <div class="container">
                    <h2 class="title">@Localizer["ReceptionScheduleTitle"]</h2>
                    <p style="text-align:center">@Localizer["Schedule"]</p>
                    <table class="table">
                        <tbody>
                            <tr>
                                @Localizer["ReceptionScheduleEfimov"]
                            </tr>
                            <tr>
                                @Localizer["ReceptionScheduleTrushkevich"]
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        @Localizer["ReceptionScheduleAttention"]
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- #services -->
<!-- #about -->

<script>

    function openEnterpriseStructure() {
        document.getElementById("myEnterpriseStructure").style.width = "100%";
    }

    function closeEnterpriseStructure() {
        document.getElementById("myEnterpriseStructure").style.width = "0%";
    }

    function openPhoneStructure() {
        document.getElementById("myPhoneStructure").style.width = "100%";
    }

    function closePhoneStructure() {
        document.getElementById("myPhoneStructure").style.width = "0%";
    }

    function openAdmProcess() {
        document.getElementById("myAdmProcess").style.width = "100%";
    }

    function closeAdmProcess() {
        document.getElementById("myAdmProcess").style.width = "0%";
    }

    function openPersonalReception() {
        document.getElementById("myPersonalReception").style.width = "100%";
    }

    function closePersonalReception() {
        document.getElementById("myPersonalReception").style.width = "0%";
    }
</script>