@model IEnumerable<Website.Models.WebSiteBD.Procedures>
<section id="about">
    <div class="container">
        <div class="about-container">
            <div class="content order-lg-1 order-2">
                <h2 class="title">О предприятии</h2>
                <p>
                    <b>Коммунальное унитарное предприятие «Минское городское агентство обслуживания населения» (далее – МГАОН)</b><br />
                    создано 01.07.2013 г. в результате реорганизации путем выделения из состава коммунального унитарного предприятия «Центр информационных технологий Мингорисполкома» и зарегистрировано решением Мингорисполкома от 23.05.2013 г. № 1344. Форма собственности - государственная (коммунальная).<br />
                    <a sce="https://minsk.gov.by/ru/">Учредителем Предприятия является Минский городской исполнительный комитет.</a>
                </p>
                <p><b>Цели деятельности Предприятия:</b></p>
                <div class="icon-box">
                    <div class="icon"><i class="fa  fa-handshake-o"></i></div>
                    <h4 class="title"><a href="">Оказание Услуг</a></h4>
                    <p class="description">оказание услуг по обеспечению деятельности организаций по принципу «одно окно» по административным процедурам, ведению электронных баз данных организаций и иных сопутствующих услуг</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <h4 class="title"><a href="">Консультирование Граждан</a></h4>
                    <p class="description">консультирование граждан или юридических лиц по перечням документов, представляемых для осуществления административных процедур</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-file-text"></i></div>
                    <h4 class="title"><a href="">Сбор Документов</a></h4>
                    <p class="description">обеспечение сбора документов и (или) сведений, необходимых для осуществления административных процедур, не включенных в перечни документов и (или) сведений, представляемых заинтересованными лицами, посредством направления запросов удаленного доступа к государственным регистрам, реестрам, кадастрам, спискам, каталогам, базам и банкам данных и другими способами</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-bullhorn"></i></div>
                    <h4 class="title"><a href="">Информирование Граждан</a></h4>
                    <p class="description">информирование граждан и (или) юридических лиц: о режиме работы организаций, времени приема граждан и порядке записи на прием к должностным лицам организаций; об административных процедурах, осуществляемых организациями, рассмотрении обращений граждан и юридических лиц; по иным вопросам</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-usd"></i></div>
                    <h4 class="title"><a href="">Извлечение прибыли</a></h4>
                    <p class="description">извлечение прибыли в процессе хозяйственной деятельности</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-modx"></i></div>
                    <h4 class="title"><a href="">Другие услуги</a></h4>
                    <p class="description">оказание других услуг, направленных на повышение эффективности работы в сфере оказания услуг населению в соответствии с законодательством</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="box">
                    <div class="icon" onclick="openEnterpriseStructure()"><span onclick="openEnterpriseStructure()"><i class="fa fa-linode"></i></span></div>
                    <h4 class="title"><span>Структура предприятия</span></h4>
                    <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>-->
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="box">
                    <div class="icon" onclick="openPhoneStructure()"><span onclick="openPhoneStructure()"><i class="fa fa-address-book"></i></span></div>
                    <h4 class="title"><span>Телефонный справочник</span></h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="box">
                    <div class="icon" onclick="openAdmProcess()"><span onclick="openAdmProcess()"><i class="fa fa-tasks"></i></span></div>
                    <h4 class="title"><span>Административные процедуры</span></h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="box">
                    <div class="icon" onclick="openPersonalReception()"><span onclick="openPersonalReception()"><i class="fa fa-clock-o"></i></span></div>
                    <h4 class="title"><span>График<br /> личного приема</span></h4>
                </div>
            </div>
        </div>

        <div id="myEnterpriseStructure" class="fullScreen">
            <a href="javascript:void(0)" class="closebtn" onclick="closeEnterpriseStructure()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
            <div class="fullScreen-content">
                <div class="container">
                    <h2 class="title">Структура МГАОН</h2>
                    <img src="/img/СтруктураРус.jpg" />
                </div>
            </div>
        </div>

        <!-- Телефонный справочник -->
        <div id="myPhoneStructure" class="fullScreen">
            <a href="javascript:void(0)" class="closebtn" onclick="closePhoneStructure()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
            <div class="fullScreen-content">
                <div class="container">
                    <h2 class="title">Телефонный справочник МГАОН</h2>
                    <table class="table table-hover" style="text-align:left">
                        <tbody>
                            <tr>
                                <td>
                                    <b>Директор</b> <br />
                                    Ефимов Александр Станиславович <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 394 49 24 <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.3
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Заместитель директора</b> <br />
                                    Трушкевич Павел Анатольевич <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 364 19 13 <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Заместитель директор – начальник общего отдела</b> <br />
                                    Данько Елена Георгиевна <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 364 26 12 <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Сектор бухгалтерского учета и отчетности</b> <br />
                                    главный бухгалтер Шипова Людмила Викторовна <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел 364 25 78 <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.6
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Планово-экономический сектор</b> <br />
                                    начальник сектора Ступчик Оксана Васильевна <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 393 16 47 <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Общий отдел</b>  <br />
                                    заведующий хозяйством Пантелеенко Леонид Алексеевич <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 347 16 27 <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.7 <br />
                                    <br />
                                    ведущий юрисконсульт Трацевский Александр Викторович <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 364 26 02 <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.1 <br />
                                    <br />
                                    ведущий специалист по кадрам Лебедева Ирина Владимировна <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 364 65 92 <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.1 <br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Управление сопровождения электронных баз данных «Одно окно»</b>  <br />
                                    начальник управления Пожиток Нелли Константиновна  <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 316 26 03  <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.5  <br />
                                    <br />
                                    заместитель начальника управления Нечаева Ольга Владимировна  <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел.243 08 59  <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.5  <br />
                                    <br />
                                    <div style="padding-left:40px">
                                        <b>Отдел № 1 Заводского района</b> <br />
                                        начальник отдела Бойправ Наталья Александровна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 389 26 82 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул. Жилуновича, д.17 – служба «одно окно» <br />
                                        <br />
                                        <b>Отдел № 2 Ленинского района</b> <br />
                                        начальник отдела Губоревич Анна Владимировна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 223 00 27 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.Маяковского, д.83 – служба «одно окно» <br />
                                        <br />
                                        <b>Отдел № 3 Московского района</b> <br />
                                        начальник отдела Ившина Марина Валерьевна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 200 62 45 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: просп. Дзержинского, д.10, каб.439 – служба «одно окно» <br />
                                        <br />
                                        <div style="padding-left:40px">
                                            <b>Сектор № 1</b> <br />
                                            начальник сектора Саливончик Алла Михайловна  <br />
                                            <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 200 66 26  <br />
                                            <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: просп. Дзержинского, д.10, каб.103  <br />
                                            <br />
                                            <b>Сектор № 2</b> <br />
                                            начальник сектора Ширяева Татьяна Алексеевна  <br />
                                            <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 376 84 70 <br />
                                            <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: просп. газеты Правда, д.29, каб.4  <br />
                                            <br />
                                        </div>
                                        <b>Отдел № 4 Октябрьского района</b> <br />
                                        начальник отдела Бычковская Светлана Викторовна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 222 13 95 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул. Чкалова, д.6, каб.108 – служба «одно окно» <br />
                                        <br />
                                        <b>Отдел № 5 Партизанского района</b> <br />
                                        начальник отдела Бакумова Марина Антоновна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 294 18 52 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.Захарова, д.53 – служба «одно окно» <br />
                                        <br />
                                        <div style="padding-left:40px">
                                            <b>Сектор № 1</b> <br />
                                            начальник сектора Прудцева Светлана Ивановна  <br />
                                            <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 369 25 65  <br />
                                            <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.О.Кошевого, д.27а – отдел ЗАГС  <br />
                                            <br />
                                        </div>
                                        <b>Отдел № 6 Первомайского района</b> <br />
                                        начальник отдела Черник Ирина Жоржевна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 280 75 89 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: пер. К.Чорного, д.5 – служба «одно окно» <br />
                                        <br />
                                        <div style="padding-left:40px">
                                            <b>Сектор № 1</b> <br />
                                            начальник сектора Биченкова Наталья Александровна <br />
                                            <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 215 27 20 <br />
                                            <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: пер. К.Чорного, д.5, каб. 220 <br />
                                            <br />
                                        </div>
                                        <b>Отдел № 7 Советского района</b> <br />
                                        начальник отдела Белаш Алла Викторовна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 292 24 22 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.Дорошевича, д.8 – служба «одно окно» <br />
                                        <br />
                                        <div style="padding-left:40px">
                                            <b>Сектор № 1</b> <br />
                                            начальник сектора Гришина Светлана Владимировна <br />
                                            <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 354 05 94 <br />
                                            <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул. Веры Хоружей. д.24, корп. 1, каб. 10 <br />
                                            <br />
                                        </div>
                                        <b>Отдел № 8 Фрунзенского района</b> <br />
                                        начальник отдела Антонова Ольга Анатольевна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 204 01 61 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул. Кальварийская, д.39 – служба «одно окно» <br />
                                        <br />
                                        <div style="padding-left:40px">
                                            <b>Сектор № 1</b> <br />
                                            начальник сектора Воронцова Люция Михайловна <br />
                                            <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 254 92 63 <br />
                                            <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул. Нёманская, д.22 – служба «одно окно» <br />
                                            <br />
                                            <b>Сектор № 2</b> <br />
                                            начальник сектора Волчок Мария Александровна <br />
                                            <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 204 78 06 <br />
                                            <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул. Кальварийская, д.39 – служба «одно окно» <br />
                                            <br />
                                            <b>Сектор № 3</b> <br />
                                            начальник сектора Новак Инга Валерьевна <br />
                                            <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 358 09 40 <br />
                                            <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: просп. Пушкина, д.55 – служба «одно окно» <br />
                                            <br />
                                        </div>
                                        <b>Отдел № 9 Центрального района</b> <br />
                                        начальник отдела Рогачева Татьяна Николаевна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 306 40 03 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.Мельникайте, д.6 – служба «одно окно» <br />
                                        <br />
                                        <b>Отдел информационного обслуживания службы «Одно окно» Мингорисполкома</b> <br />
                                        начальник отдела Матеша Ирина Николаевна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 218 00 74 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: просп. Независимости, д.8 – служба «одно окно» <br />
                                        <br />
                                        <b>Отдел ведения баз данных в Главном управлении юстиции Мингорисполкома</b> <br />
                                        начальник отдела Миронюк Татьяна Викторовна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 308 23 83 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: просп.Пушкина, д.42, каб. 104 <br />
                                        <br />
                                        <b>Сектор приема заявлений в отделе ЗАГС главного управления юстиции Мингорисполкома</b> <br />
                                        начальник сектора Матиевская Анна Ивановна <br />
                                        <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 204 11 15 <br />
                                        <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.Ольшевского, д.12 – отдел ЗАГС <br />
                                        <br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Отдел «Контакт-центр»</b>
                                    начальник отдела Черник Марина Александровна <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел. 364 25 83 <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.7 <br />
                                    <br />
                                    заместитель начальника отдела Ганбарова Татьяна Григорьевна <br />
                                    <i class="fa fa-phone" style="color: #2dc997;"></i> тел.366 12 57 <br />
                                    <i class="fa fa-map-marker" style="color: #2dc997;"></i> адрес: ул.М.Танка, д.36, корп.1, каб.8
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!--  Перечень административных процедур -->
        <div id="myAdmProcess" class="fullScreen">
            <a href="javascript:void(0)" class="closebtn" onclick="closeAdmProcess()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
            <div class="fullScreen-content">
                <div class="container">
                    <h2 class="title">
                        Перечень административных процедур
                    </h2>
                    <p class="description">
                        выполняемых коммунальным унитарным предприятием «Минское городское агентство обслуживания населения» для граждан состоящих (состоявших) в трудовых отношениях в соответствии с Указом Президента Республики Беларусь от 26.04.2010 г. № 200 «Об административных процедурах, осуществляемых государственными органами и иными государственными организациями по заявлениям граждан»
                    </p>
                    <div style="text-align:left">
                        <p>
                            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                ГЛАВА 2. ТРУД И СОЦИАЛЬНАЯ ЗАЩИТА
                            </a>
                        </p>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                @foreach (var item in Model)
                                {
                                    @if (item.Chapter == 2)
                                    {
                                        <p>
                                            <a data-toggle="collapse" href="#collapse_@item.Id" role="button" aria-expanded="false" aria-controls="collapse_@item.Id">
                                                @item.Title
                                            </a>
                                        </p>
                                        <div class="collapse" id="collapse_@item.Id">
                                            <div class="card card-body">
                                                <table class="table table-hover" style="text-align:left">
                                                    <tbody>
                                                        <tr>
                                                            <td>Ф.И.О., должность ответственного за осуществление приема, выдачу справок и других документов, телефон, кабинет</td>
                                                            <td>@item.FIO</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Документы и(или) сведения, представляемые гражданином для осуществления административной процедуры</td>
                                                            <td>@item.Documents</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Размер платы, взимаемой при осуществлении административной процедуры</td>
                                                            <td>@item.Cost</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Максимальный срок осуществления административной процедуры</td>
                                                            <td>@item.MaximumTerm</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Срок действия справки, другого документа (решения), выдаваемых при осуществлении административной процедуры</td>
                                                            <td>@item.Term</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                        <p>
                            <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                                ГЛАВА 18. ПОЛУЧЕННЫЕ ДОХОДЫ И УПЛАЧЕННЫЕ НАЛОГИ, СБОРЫ (ПОШЛИНЫ). ПОЛУЧЕНИЕ ИНФОРМАЦИИ ИЗ ЕДИНОГО ГОСУДАРСТВЕННОГО РЕГИСТРА ЮРИДИЧЕСКИХ ЛИЦ И ИНДИВИДУАЛЬНЫХ ПРЕДПРИНИМАТЕЛЕЙ. ПРОСТАВЛЕНИЕ АПОСТИЛЯ НА ДОКУМЕНТАХ ИЛИ ЛЕГАЛИЗАЦИЯ ДОКУМЕНТОВ
                            </a>
                        </p>

                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                @foreach (var item in Model)
                                {
                                    @if (item.Chapter == 18)
                                    {
                                        <p>
                                            <a data-toggle="collapse" href="#collapse_@item.Id" role="button" aria-expanded="false" aria-controls="collapse_@item.Id">
                                                @item.Title
                                            </a>
                                        </p>
                                        <div class="collapse" id="collapse_@item.Id">
                                            <div class="card card-body">
                                                <table class="table table-hover" style="text-align:left">
                                                    <tbody>
                                                        <tr>
                                                            <td>Ф.И.О., должность ответственного за осуществление приема, выдачу справок и других документов, телефон, кабинет</td>
                                                            <td>@item.FIO</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Документы и(или) сведения, представляемые гражданином для осуществления административной процедуры</td>
                                                            <td>@item.Documents</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Размер платы, взимаемой при осуществлении административной процедуры</td>
                                                            <td>@item.Cost</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Максимальный срок осуществления административной процедуры</td>
                                                            <td>@item.MaximumTerm</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Срок действия справки, другого документа (решения), выдаваемых при осуществлении административной процедуры</td>
                                                            <td>@item.Term</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--  График -->
        <div id="myPersonalReception" class="fullScreen">
            <a href="javascript:void(0)" class="closebtn" onclick="closePersonalReception()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
            <div class="fullScreen-content">
                <div class="container">
                    <h2 class="title">График</h2>
                    <p style="text-align:center">личного приема граждан, юридических лиц, индивидуальных предпринимателей руководством МГАОН</p>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Директор</td>
                                <td>Ефимов Александр Станиславович</td>
                                <td>
                                    Вторая среда месяца с 08.00 до 13.00 </br>
                                    Кабинет № 3
                                </td>
                            </tr>
                            <tr>
                                <td>Заместитель директора</td>
                                <td>Трушкевич Павел Анатольевич</td>
                                <td>
                                    Четвертая среда месяца с 08.00 до 13.00 <br />
                                    Кабинет № 1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <b>Обращаем Ваше внимание</b>, что <b>предварительная запись на личный прием</b> осуществляется по телефону
                        364-66-34 либо в кабинете № 4 ведущим специалистом по делопроизводству при непосредственном обращении гражданина или представителя юридического лица <em>с предъявлением документа, удостоверяющего личность, и документа, подтверждающего служебные полномочия.</em>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- #services -->
<!-- #about -->

<script>

    function openEnterpriseStructure() {
        document.getElementById("myEnterpriseStructure").style.width = "100%";
    }

    function closeEnterpriseStructure() {
        document.getElementById("myEnterpriseStructure").style.width = "0%";
    }

    function openPhoneStructure() {
        document.getElementById("myPhoneStructure").style.width = "100%";
    }

    function closePhoneStructure() {
        document.getElementById("myPhoneStructure").style.width = "0%";
    }

    function openAdmProcess() {
        document.getElementById("myAdmProcess").style.width = "100%";
    }

    function closeAdmProcess() {
        document.getElementById("myAdmProcess").style.width = "0%";
    }

    function openPersonalReception() {
        document.getElementById("myPersonalReception").style.width = "100%";
    }

    function closePersonalReception() {
        document.getElementById("myPersonalReception").style.width = "0%";
    }
</script>