@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="area" name="area">
    <div class="container">
        <div class="section-header" style="padding-bottom:20px">
            <h3 class="section-title">@Localizer["AreaTitle"]</h3>
            <p class="section-description">
                @Localizer["AreaAbout"]
            </p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="box">
                    <a href="https://minsk.gov.by/ru/org/5171/"><div class="icon"><i>1</i></div></a>
                    <p class="description">@Localizer["About1"]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="box">
                    <a href="https://minsk.gov.by/ru/org/5184/"><div class="icon"><i>2</i></div></a>
                    <p class="description">@Localizer["About2"]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="box">
                    <a href="https://minsk.gov.by/ru/org/5170/"><div class="icon"><i>3</i></div></a>
                    <p class="description">@Localizer["About3"]</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="box">
                    <a href="https://minsk.gov.by/ru/org/5189/"><div class="icon"><i>4</i></div></a>
                    <p class="description">@Localizer["About4"]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="box">
                    <a href="https://minsk.gov.by/ru/org/5161/"><div class="icon"><i>5</i></div></a>
                    <p class="description">@Localizer["About5"]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="box">
                    <a href="https://minsk.gov.by/ru/org/5141/"><div class="icon"><i>6</i></div></a>
                    <p class="description">@Localizer["About6"]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="box">
                    <a href="https://minsk.gov.by/ru/org/5109/"><div class="icon"><i>7</i></div></a>
                    <p class="description">@Localizer["About7"]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="box">
                    <a href="https://minsk.gov.by/ru/org/5088/"><div class="icon"><i>8</i></div></a>
                    <p class="description">@Localizer["About8"]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="box">
                    <a href="https://minsk.gov.by/ru/org/5147/"><div class="icon"><i>9</i></div></a>
                    <p class="description">@Localizer["About9"]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 offset-lg-6 offset-md-4 col-sm-6">
                <div class="box">
                    <a href="https://minsk.gov.by/ru/org/5194/"><div class="icon"><i>10</i></div></a>
                    <p class="description">@Localizer["About10"]</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- #area -->