@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">@Localizer["СollCentrTitle"]</h3>
                <p class="cta-text">@Localizer["СollCentrAbout"]</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#call-to-action" onclick="openCallCenter()">@Localizer["Detailed"]</a>
            </div>
        </div>
    </div>

    <div id="myCollCenter" class="fullScreen">
        <a href="javascript:void(0)" class="closebtn" onclick="closeCallCenter()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
        <div class="fullScreen-content">
            <div class="container" style="text-align:left">
                <h2 class="title" style="text-align:center">@Localizer["СollCentrTitleAbout"]</h2>
                <p>
                    @Localizer["About"]
                </p>
                <div class="icon-box">
                    <div class="icon"><i class="fa  fa-bullhorn"></i></div>
                    <p class="description">@Localizer["Inform"]</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-line-chart"></i></div>
                    <p class="description">@Localizer["Analysis"]</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa Example of exclamation-triangle fa-exclamation-triangle"></i></div>
                    <p class="description">@Localizer["Rendering"]</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-handshake-o"></i></div>
                    <p class="description">@Localizer["Organization"]</p>
                </div>
                <p>
                    <b>@Localizer["ReferenceInformationServiceTitle"]</b>
                    <br />
                    @Localizer["ReferenceInformationServiceAbout"]
                    <ul>
                        @Localizer["ReferenceInformationServiceEnum"]
                    </ul>
                </p>
                <p>@Localizer["142"]</p>
                <p>@Localizer["Tariffs"]</p>
                <p>
                    <b>@Localizer["Hotline"]</b>
                </p>
                <p>
                    @Localizer["HotlineWork"]
                </p>
                <p>
                    @Localizer["Treatments"]
                </p>
            </div>
        </div>
    </div>
</section><!-- #call-to-action -->

<script>
    function openCallCenter() {
        document.getElementById("myCollCenter").style.width = "100%";
    }

    function closeCallCenter() {
        document.getElementById("myCollCenter").style.width = "0%";
    }
</script>
