@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Website.Models.WebSiteBD.SummaryOneWin>

<section id="facts">
    <div class="container">
        <div class="section-header">
            <h3 class="section-title">@Localizer["FactsTitle"]</h3>
            <p class="section-description">@Localizer["FactsAbout"]</p>
        </div>
        <div class="row counters">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <span>@item.SummClients</span>
                    <p>@Localizer["All"]</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <span>@item.SummLegalPerson</span>
                    <p>@Localizer["Legal"]</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <span>@item.SummPhysicalPerson</span>
                    <p>@Localizer["Physical"]</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <span>@item.SummAdm</span>
                    <p>@Localizer["Decisions"]</p>
                </div>
            }
        </div>
    </div>
</section><!-- #facts -->