@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

    <main id="main">
        <!--============
       Advertising
    ==================-->
        <!--#advertising-->
        <!--==========================
      About Us Section
    ============================-->
        <section id="about" style="padding:80px 0 20px 0">
            <div class="container">
                <div class="row about-container">
                    <div class="content order-lg-1 order-2">
                        @Localizer["About"]
                    </div>
                </div>
            </div>
        </section>

        <section id="services" style="padding: 20px 0 80px 0">
            <div class="container">
                @Localizer["AboutAddition"]
            </div>
        </section><!-- #services -->
        <!-- #about -->
        <!--==========================
      Facts Section
    ============================-->
        <section id="facts">
            <div class="container">
                <div class="section-header">
                    <h3 class="section-title">Факты</h3>
                    <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
                <div class="row counters">

                    <div class="col-lg-2 col-6 text-center">
                        <span>232</span>
                        <p>Клиенты</p>
                    </div>

                    <div class="col-lg-2 col-6 text-center">
                        <span>521</span>
                        <p>Юр.лица</p>
                    </div>

                    <div class="col-lg-2 col-6 text-center">
                        <span>1,463</span>
                        <p>Физики</p>
                    </div>

                    <div class="col-lg-2 col-6 text-center">
                        <span>15</span>
                        <p>Адм. юр</p>
                    </div>

                    <div class="col-lg-2 col-6 text-center">
                        <span>12</span>
                        <p>Адм. физики</p>
                    </div>

                    <div class="col-lg-2 col-6 text-center">
                        <span>107</span>
                        <p>Персонал</p>
                    </div>
                </div>
            </div>
        </section><!-- #facts -->
        <!--==========================
      Area Section
    ============================-->
        <section id="area">
            <div class="container">
                <div class="section-header">
                    <h3 class="section-title">Окна</h3>
                    <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="box">
                            <div class="icon"><a href="https://minsk.gov.by/ru/org/5171/"><i>1</i></a></div>
                            <h4 class="title"><a href="https://minsk.gov.by/ru/org/5171/">Заводского</a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="box">
                            <div class="icon"><a href="https://minsk.gov.by/ru/org/5184/"><i>2</i></a></div>
                            <h4 class="title"><a href="https://minsk.gov.by/ru/org/5184/">Ленинскго</a></h4>
                            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="box">
                            <div class="icon"><a href="https://minsk.gov.by/ru/org/5170/"><i>3</i></a></div>
                            <h4 class="title"><a href="https://minsk.gov.by/ru/org/5170/">Московского</a></h4>
                            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="box">
                            <div class="icon"><a href="https://minsk.gov.by/ru/org/5189/"><i>4</i></a></div>
                            <h4 class="title"><a href="https://minsk.gov.by/ru/org/5189/">Октябрьского</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="box">
                            <div class="icon"><a href="https://minsk.gov.by/ru/org/5161/"><i>5</i></a></div>
                            <h4 class="title"><a href="https://minsk.gov.by/ru/org/5161/">Партизанского</a></h4>
                            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="box">
                            <div class="icon"><a href="https://minsk.gov.by/ru/org/5141/"><i>6</i></a></div>
                            <h4 class="title"><a href="https://minsk.gov.by/ru/org/5141/">Первомайского</a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="box">
                            <div class="icon"><a href="https://minsk.gov.by/ru/org/5109/"><i>7</i></a></div>
                            <h4 class="title"><a href="https://minsk.gov.by/ru/org/5109/">Советского</a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="box">
                            <div class="icon"><a href="https://minsk.gov.by/ru/org/5088/"><i>8</i></a></div>
                            <h4 class="title"><a href="https://minsk.gov.by/ru/org/5088/">Фрунзенского</a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="box">
                            <div class="icon"><a href="https://minsk.gov.by/ru/org/5147/"><i>9</i></a></div>
                            <h4 class="title"><a href="https://minsk.gov.by/ru/org/5147/">Центрального</a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 offset-lg-6 offset-md-4 col-sm-6">
                        <div class="box">
                            <div class="icon"><a href="https://minsk.gov.by/ru/org/5194/"><i>10</i></a></div>
                            <h4 class="title"><a href="https://minsk.gov.by/ru/org/5194/">МГИК</a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- #team -->
        <!--==========================
    Call-Center Section
    ============================-->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">«Контакт-центр»</h3>
                        <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">Call To Action</a>
                    </div>
                </div>
            </div>
        </section><!-- #call-to-action -->
        <!--==========================
      News Section
    ============================-->
        <section id="news">
            <div class="container">
                <div class="section-header">
                    <h3 class="section-title">Новости</h3>
                    <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="post-date"> <h4 style="color:white; margin: 0px">Пн.</h4>  <h6 style="text-align:right; color:white; margin: 0px">01/02/2019</h6></div>
                    <br />
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
                        <h6 style="text-align:right; margin: 0px">09:00 - 13:00</h6>
                        <h4 class="title" style="margin:0px">Тема:</h4> О газификации жилого фонда поселков и деревень в рамках Указов Президента РБ № 72 и № 368

                        <p class="description" style="margin: 20px 0px 0px 0px">
                            <b>Исполнитель:</b> УП «Мингаз»
                            <br /> <br />
                            <b>Представитель исполнителя - Самусенко Артур Владимирович</b>
                            <br />
                            Начальник управления капитального строительства УП «Мингаз»
                        </p>
                    </div>
                </div>
            </div>
            <!-- Кнопка архива-->
            <div class="text-center" style="padding:20px">
                <button type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false">Архив</button>
            </div>
            <!-- Архива-->
            <div class="collapse" id="multiCollapseExample1" style="padding:0">
                <div class="card card-body" style="border:0; padding:0;">
                    <!-- По дням недели -->


                </div>
            </div>
        </section><!-- #news -->
        <!--==========================
     Trade union organization Section
    ============================-->
        <section id="trade-union-organization">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">«Профсоюз работников местной промышленностии коммунально-бытовых предприятий»</h3>
                        <p class="cta-text">
                            Первичная профсоюзная организация коммунального унитарного предприятия «Минское городское агентство обслуживания населения» образована в июле 2016 г.
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td>
                                            Председатель профкома
                                        </td>
                                        <td>
                                            Черник Марина Александровна <br />
                                            тел. 364 25 83
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Заместитель председателя
                                        </td>
                                        <td>
                                            Ившина Марина Валерьевна
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Казначей
                                        </td>
                                        <td>
                                            Коземирова Марина Ивановна
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Члены профкома
                                        </td>
                                        <td>
                                            Нечаева Ольга Владимировна, <br />
                                            Пантелеенко Леонид Алексеевич
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>                      
                                         
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">Call To Action</a>
                    </div>
                </div>
            </div>
        </section><!-- #call-to-action -->
        <!--==========================
      Contact Section
    ============================-->
        <section id="contact" style="padding: 80px 0 20px 0">
            <div class="container">
                <div class="section-header" style="padding: 0 0 20px 0">
                    <h3 class="section-title">@Localizer["Contact"]</h3>
                    <!--<p class="section-description"></p>-->
                </div>
            </div>

            <!-- Яндекс карта -->
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adf019a8b5489213833c8fd43d62922df57bf4d02380de8844d902a0699febcc3&amp;width=100%25&amp;height=546&amp;lang=ru_RU&amp;scroll=true"></script>

            <div class="container" style="padding: 40px;">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <!--Контакты-->
                        <div class="info">
                            @Localizer["Contacts"]
                        </div>
                    </div>

                    <!--Обратная связь-->
                    <div class="col-lg-6 col-md-8">
                        <div class="form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center" style="padding:20px"><button type="submit">Send Message</button></div>
                            </form>
                        </div>
                    </div>

                    <!--Режим работы-->
                    <div class="col-lg-3 col-md-4">
                        <div class="info">
                            @Localizer["OperatingMode"]
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- #contact -->

    </main>

<script>

    function openEnterpriseStructure() {
        document.getElementById("myEnterpriseStructure").style.width = "100%";
    }

    function closeEnterpriseStructure() {
        document.getElementById("myEnterpriseStructure").style.width = "0%";
    }

    function openPhoneStructure() {
        document.getElementById("myPhoneStructure").style.width = "100%";
    }

    function closePhoneStructure() {
        document.getElementById("myPhoneStructure").style.width = "0%";
    }

    function openAdmProcess() {
        document.getElementById("myAdmProcess").style.width = "100%";
    }

    function closeAdmProcess() {
        document.getElementById("myAdmProcess").style.width = "0%";
    }

    function openPersonalReception() {
        document.getElementById("myPersonalReception").style.width = "100%";
    }

    function closePersonalReception() {
        document.getElementById("myPersonalReception").style.width = "0%";
    }

</script>
