@model Website.Models.ModelsView.IndexViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

    <section id="news">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title"> @Localizer["NewsTitle"]</h3>
                <p class="section-description"> @Localizer["NewsTitleAbout"]</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                <div class="post-date"> <h4 style="color:white; margin: 0px"> @Localizer["Monday"]</h4>  <h6 style="text-align:right; color:white; margin: 0px" id="monday"></h6></div>
                <br />

                @foreach (var item in Model.News)
                {
                    @if (item.DateStart.ToShortDateString() == (DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday)).ToShortDateString())
                    {
                        <div class="box">
                            <div class="icon"><i class="fa fa-forumbee"></i></div>
                            <h6 style="text-align:right; margin: 10px">@item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortTimeString()  </h6>
                            <h4 class="title"> <b>@Localizer["Topic"]:</b> @item.Title</h4>
                            <p class="description" style="margin: 20px 0px 0px 0px">
                                <b>@Localizer["Executor"]:</b> @item.Name
                                <br /> <br />
                                <b>@Localizer["Representative"] - </b>
                                @if (item.Position.IndexOf(';') == 0)
                                {
                                    @item.Position
                                    <br />
                                    <b><em>@item.Organization</em></b>
                                }
                                else
                                {
                                    string[] position = item.Position.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                    string[] organization = item.Organization.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                    for (int i = 0; i < position.Length; i++)
                                    {
                                        @position[i].ToString();
                                        <br />
                                        <b><em>@organization[i].ToString()</em></b>
                                        <br />
                                    }
                                }
                            </p>
                        </div>
                    }
                }
  
            </div>

            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                <div class="post-date"> <h4 style="color:white; margin: 0px"> @Localizer["Tuesday"]</h4>  <h6 style="text-align:right; color:white; margin: 0px" id="tuesday"></h6></div>
                <br />
                @foreach (var item in Model.News)
                {
                    @if (item.DateStart.ToShortDateString() == (DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Tuesday)).ToShortDateString())
                    {
                        <div class="box">
                            <div class="icon"><i class="fa fa-forumbee"></i></div>
                            <h6 style="text-align:right; margin: 10px">@item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortTimeString()  </h6>
                            <h4 class="title"> <b>@Localizer["Topic"]:</b> @item.Title</h4>
                            <p class="description" style="margin: 20px 0px 0px 0px">
                                <b>@Localizer["Executor"]:</b> @item.Name
                                <br /> <br />
                                <b>@Localizer["Representative"] - </b>
                                @if (item.Position.IndexOf(';') == 0)
                                {
                                    @item.Position
                                    <br />
                                    <b><em>@item.Organization</em></b>
                                }
                                else
                                {
                                    string[] position = item.Position.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                    string[] organization = item.Organization.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                    for (int i = 0; i < position.Length; i++)
                                    {
                                        @position[i].ToString();
                                        <br />
                                        <b><em>@organization[i].ToString()</em></b>
                                        <br />
                                    }
                                }
                            </p>
                        </div>
                    }
                }
            </div>

            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                <div class="post-date"> <h4 style="color:white; margin: 0px"> @Localizer["Wednesday"]</h4>  <h6 style="text-align:right; color:white; margin: 0px" id="wednesday"></h6></div>
                <br />
                @foreach (var item in Model.News)
                {
                    @if (item.DateStart.ToShortDateString() == (DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Wednesday)).ToShortDateString())
                    {
                        <div class="box">
                            <div class="icon"><i class="fa fa-forumbee"></i></div>
                            <h6 style="text-align:right; margin: 10px">@item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortTimeString()  </h6>
                            <h4 class="title"> <b>@Localizer["Topic"]:</b> @item.Title</h4>
                            <p class="description" style="margin: 20px 0px 0px 0px">
                                <b>@Localizer["Executor"]:</b> @item.Name
                                <br /> <br />
                                <b>@Localizer["Representative"] - </b>
                                @if (item.Position.IndexOf(';') == 0)
                                {
                                    @item.Position
                                    <br />
                                    <b><em>@item.Organization</em></b>
                                }
                                else
                                {
                                    string[] position = item.Position.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                    string[] organization = item.Organization.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                    for (int i = 0; i < position.Length; i++)
                                    {
                                        @position[i].ToString();
                                        <br />
                                        <b><em>@organization[i].ToString()</em></b>
                                        <br />
                                    }
                                }
                            </p>
                        </div>
                    }
                }
            </div>


            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                <div class="post-date"> <h4 style="color:white; margin: 0px"> @Localizer["Thursday"]</h4>  <h6 style="text-align:right; color:white; margin: 0px" id="thursday"></h6></div>
                <br />
                @foreach (var item in Model.News)
                {
                    @if (item.DateStart.ToShortDateString() == (DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Thursday)).ToShortDateString())
                    {
                        <div class="box">
                            <div class="icon"><i class="fa fa-forumbee"></i></div>
                            <h6 style="text-align:right; margin: 10px">@item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortTimeString()  </h6>
                            <h4 class="title"> <b>@Localizer["Topic"]:</b> @item.Title</h4>
                            <p class="description" style="margin: 20px 0px 0px 0px">
                                <b>@Localizer["Executor"]:</b> @item.Name
                                <br /> <br />
                                <b>@Localizer["Representative"] - </b>
                                @if (item.Position.IndexOf(';') == 0)
                                {
                                    @item.Position
                                    <br />
                                    <b><em>@item.Organization</em></b>
                                }
                                else
                                {
                                    string[] position = item.Position.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                    string[] organization = item.Organization.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                    for (int i = 0; i < position.Length; i++)
                                    {
                                        @position[i].ToString();
                                        <br />
                                        <b><em>@organization[i].ToString()</em></b>
                                        <br />
                                    }
                                }
                            </p>
                        </div>
                    }
                }
            </div>

            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                <div class="post-date"> <h4 style="color:white; margin: 0px"> @Localizer["Friday"]</h4>  <h6 style="text-align:right; color:white; margin: 0px" id="friday"></h6></div>
                <br />
                @foreach (var item in Model.News)
                {
                    @if (item.DateStart.ToShortDateString() == (DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Friday)).ToShortDateString())
                    {
                        <div class="box">
                            <div class="icon"><i class="fa fa-forumbee"></i></div>
                            <h6 style="text-align:right; margin: 10px">@item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortTimeString()  </h6>
                            <h4 class="title"> <b>@Localizer["Topic"]:</b> @item.Title</h4>
                            <p class="description" style="margin: 20px 0px 0px 0px">
                                <b>@Localizer["Executor"]:</b> @item.Name
                                <br /> <br />
                                <b>@Localizer["Representative"] - </b>
                                @if (item.Position.IndexOf(';') == 0)
                                {
                                    @item.Position
                                    <br />
                                    <b><em>@item.Organization</em></b>
                                }
                                else
                                {
                                    string[] position = item.Position.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                    string[] organization = item.Organization.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                    for (int i = 0; i < position.Length; i++)
                                    {
                                        @position[i].ToString();
                                        <br />
                                        <b><em>@organization[i].ToString()</em></b>
                                        <br />
                                    }
                                }
                            </p>
                        </div>
                    }
                }
            </div>
        </div>

        <!-- Кнопка архива и график-->
        <div class="text-center" style="padding:20px">
            <button type="button" data-toggle="collapse" name="buttonArchive" data-target="#multiCollapseExample1" aria-expanded="false" style="margin:5px;">@Localizer["ArchiveButton"]</button>
            <button type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" style="margin:5px;">@Localizer["ChartButton"]</button>
        </div>
        <!-- Архива-->
        <div class="collapse" id="multiCollapseExample1" style="padding:0">
            <div class="card card-body" style="border:0; padding:0;">
                <div class="container">
                    <div class="section-header">
                        <h4 class="section-title">@Localizer["ArchiveNewsTitle"]</h4>
                        <p class="section-description">@Localizer["ArchiveNewsTitleAbout"]</p>
                    </div>
                </div>

                <!-- По дням недели -->
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                        <div class="post-date"> <h4 style="color:white; margin: 0px">@Localizer["Monday"]</h4>  <h6 style="text-align:right; color:white; margin: 0px" id="oldMonday"></h6></div>
                        <br />

                        @foreach (var item in Model.News)
                        {
                            @if (item.DateStart.ToShortDateString() == (DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday)).AddDays(-7).ToShortDateString())
                            {
                                <div class="box">
                                    <div class="icon"><i class="fa fa-forumbee"></i></div>
                                    <h6 style="text-align:right; margin: 10px">@item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortTimeString()  </h6>
                                    <h4 class="title">  <b>@Localizer["Topic"]:</b> @item.Title</h4>
                                    <p class="description" style="margin: 20px 0px 0px 0px">
                                        <b>@Localizer["Executor"]:</b> @item.Name
                                        <br /> <br />
                                        <b>@Localizer["Representative"] - </b>
                                        @if (item.Position.IndexOf(';') == 0)
                                        {
                                            @item.Position
                                            <br />
                                            <b><em>@item.Organization</em></b>
                                        }
                                        else
                                        {
                                            string[] position = item.Position.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                            string[] organization = item.Organization.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                            for (int i = 0; i < position.Length; i++)
                                            {
                                                @position[i].ToString();
                                                <br />
                                                <b><em>@organization[i].ToString()</em></b>
                                                <br />
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        }
                    </div>

                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                        <div class="post-date"> <h4 style="color:white; margin: 0px">@Localizer["Tuesday"]</h4>  <h6 style="text-align:right; color:white; margin: 0px" id="oldTuesday"></h6></div>
                        <br />
                        @foreach (var item in Model.News)
                        {
                            @if (item.DateStart.ToShortDateString() == (DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday)).AddDays(-6).ToShortDateString())
                            {
                                <div class="box">
                                    <div class="icon"><i class="fa fa-forumbee"></i></div>
                                    <h6 style="text-align:right; margin: 10px">@item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortTimeString()  </h6>
                                    <h4 class="title">  <b>@Localizer["Topic"]:</b> @item.Title</h4>
                                    <p class="description" style="margin: 20px 0px 0px 0px">
                                        <b>@Localizer["Executor"]:</b> @item.Name
                                        <br /> <br />
                                        <b>@Localizer["Representative"] - </b>
                                        @if (item.Position.IndexOf(';') == 0)
                                        {
                                            @item.Position
                                            <br />
                                            <b><em>@item.Organization</em></b>
                                        }
                                        else
                                        {
                                            string[] position = item.Position.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                            string[] organization = item.Organization.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                            for (int i = 0; i < position.Length; i++)
                                            {
                                                @position[i].ToString();
                                                <br />
                                                <b><em>@organization[i].ToString()</em></b>
                                                <br />
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        }
                    </div>

                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                        <div class="post-date"> <h4 style="color:white; margin: 0px">@Localizer["Wednesday"]</h4>  <h6 style="text-align:right; color:white; margin: 0px" id="oldWednesday"></h6></div>
                        <br />
                        @foreach (var item in Model.News)
                        {
                            @if (item.DateStart.ToShortDateString() == (DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday)).AddDays(-5).ToShortDateString())
                            {
                                <div class="box">
                                    <div class="icon"><i class="fa fa-forumbee"></i></div>
                                    <h6 style="text-align:right; margin: 10px">@item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortTimeString()  </h6>
                                    <h4 class="title">  <b>@Localizer["Topic"]:</b> @item.Title</h4>
                                    <p class="description" style="margin: 20px 0px 0px 0px">
                                        <b>@Localizer["Executor"]:</b> @item.Name
                                        <br /> <br />
                                        <b>@Localizer["Representative"] - </b>
                                        @if (item.Position.IndexOf(';') == 0)
                                        {
                                            @item.Position
                                            <br />
                                            <b><em>@item.Organization</em></b>
                                        }
                                        else
                                        {
                                            string[] position = item.Position.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                            string[] organization = item.Organization.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                            for (int i = 0; i < position.Length; i++)
                                            {
                                                @position[i].ToString();
                                                <br />
                                                <b><em>@organization[i].ToString()</em></b>
                                                <br />
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        }
                    </div>


                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                        <div class="post-date"> <h4 style="color:white; margin: 0px">@Localizer["Thursday"]</h4>  <h6 style="text-align:right; color:white; margin: 0px" id="oldThursday"></h6></div>
                        <br />
                        @foreach (var item in Model.News)
                        {
                            @if (item.DateStart.ToShortDateString() == (DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday)).AddDays(-4).ToShortDateString())
                            {
                                <div class="box">
                                    <div class="icon"><i class="fa fa-forumbee"></i></div>
                                    <h6 style="text-align:right; margin: 10px">@item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortTimeString()  </h6>
                                    <h4 class="title">  <b>@Localizer["Topic"]:</b> @item.Title</h4>
                                    <p class="description" style="margin: 20px 0px 0px 0px">
                                        <b>@Localizer["Executor"]:</b> @item.Name
                                        <br /> <br />
                                        <b>@Localizer["Representative"] - </b>
                                        @if (item.Position.IndexOf(';') == 0)
                                        {
                                            @item.Position
                                            <br />
                                            <b><em>@item.Organization</em></b>
                                        }
                                        else
                                        {
                                            string[] position = item.Position.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                            string[] organization = item.Organization.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                            for (int i = 0; i < position.Length; i++)
                                            {
                                                @position[i].ToString();
                                                <br />
                                                <b><em>@organization[i].ToString()</em></b>
                                                <br />
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        }
                    </div>

                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                        <div class="post-date"> <h4 style="color:white; margin: 0px">@Localizer["Friday"]</h4>  <h6 style="text-align:right; color:white; margin: 0px" id="oldFriday"></h6></div>
                        <br />
                        @foreach (var item in Model.News)
                        {
                            @if (item.DateStart.ToShortDateString() == (DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday)).AddDays(-3).ToShortDateString())
                            {
                                <div class="box">
                                    <div class="icon"><i class="fa fa-forumbee"></i></div>
                                    <h6 style="text-align:right; margin: 10px">@item.DateStart.ToShortTimeString() - @item.DateFinish.ToShortTimeString()  </h6>
                                    <h4 class="title">  <b>@Localizer["Topic"]:</b> @item.Title</h4>
                                    <p class="description" style="margin: 20px 0px 0px 0px">
                                        <b>@Localizer["Executor"]:</b> @item.Name
                                        <br /> <br />
                                        <b>@Localizer["Representative"] - </b>
                                        @if (item.Position.IndexOf(';') == 0)
                                        {
                                            @item.Position
                                            <br />
                                            <b><em>@item.Organization</em></b>
                                        }
                                        else
                                        {
                                            string[] position = item.Position.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                            string[] organization = item.Organization.Split(new char[] { ';' }, StringSplitOptions.RemoveEmptyEntries);
                                            for (int i = 0; i < position.Length; i++)
                                            {
                                                @position[i].ToString();
                                                <br />
                                                <b><em>@organization[i].ToString()</em></b>
                                                <br />
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- График информирования (Разворачиваемый collapse по нажатию на кнопку "График проведения тематических....")-->
        @{Html.RenderPartial("NewsTable", Model.NewsTable);}

    </section><!-- #news -->

