@model IEnumerable<Website.Models.WebSiteBD.NewsTable>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
    <!-- График информирования-->
<div class="collapse container" id="multiCollapseExample2" style="padding:0">
    <div class="card card-body" style="border:0; padding:0;">
        <div class="container">
            <div class="section-header">
                <h4 class="section-title">@Localizer["NewsTitle"]</h4>
                <p class="section-description">@Localizer["NewsTitlуAbout"]</p>
            </div>
        </div>

        <table class="table table-hover home-content table-bordered">
            <thead>
                <tr>
                    <th>@Localizer["Data"]</th>
                    <th class="text-center">@Localizer["Topic"]</th>
                    <th class="text-center">@Localizer["Responsible"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DateTime
                        <td>@item.Name
                        <td>@item.Executor
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>