@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="trade-union-organization">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">@Localizer["TradeUnionTitle"]</h3>
                <p class="cta-text">

                </p>

            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#trade-union-organization" onclick="openUnion()">@Localizer["Detailed"]</a>
            </div>
        </div>
    </div>
</section><!-- #trade-union-organization -->

<div id="myUnion" class="fullScreen">
    <a href="javascript:void(0)" class="closebtn" onclick="closeUnion()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
    <div class="fullScreen-content">
        <div class="container">
            <h2 class="title">@Localizer["Title"]</h2>
            <p>@Localizer["About"]<p>
                <table class="table table-hover" style="text-align:left">
                    <tbody>
                        <tr>
                            @Localizer["Chairman"]
                        </tr>
                        <tr>
                            @Localizer["Deputy"]
                        </tr>
                        <tr>
                            @Localizer["Treasurer"]
                        </tr>
                        <tr>
                            @Localizer["Members"]
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>

<script>

    function openUnion() {
        document.getElementById("myUnion").style.width = "100%";
    }

    function closeUnion() {
        document.getElementById("myUnion").style.width = "0%";
    }

</script>