@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="contact" style="padding: 140px 0 20px 0">
    <div class="container">
        <div class="section-header" style="padding: 0 0 20px 0">
            <h3 class="section-title">@Localizer["Title"]</h3>
            @Localizer["About"]

            <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample" style="width:100%">@Localizer["ButtonSendEmail"]</button>

            <div class="collapse" id="collapseExample">
                <div class="card card-body" style="background-color:#f7f7f7">
                    <!--Для того чтобы переключаться между юр.лицами и физ сделан js script который создает и удаляет лишний input-->
                    <div class="form" id="profile">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" onclick="@Localizer["ButtonIndividualsOnclick"]">
                            <label class="custom-control-label" for="customRadio1">@Localizer["ButtonIndividuals"]</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2" onclick="@Localizer["ButtonLegalOnclick"]">@Localizer["ButtonLegal"]</label>
                        </div>
                        <form action="" method="post" role="form" class="contactForm" id="input0"></form>
                    </div>
                </div>
            </div>
            @Localizer["Treatments"]

            @Localizer["Enum"]

            @Localizer["Feedback"]

            @Localizer["Chart"]
            
        </div>
    </div>
</section>

<!-- Modal окно появляющееся при ошибке заполнения обращения, а также при успешной отправке обращения-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="resultSendEmail"></h5>
                <div>
                    <p id="resultDesignation" />
                </div>
                <div>
                    <p id="resultNameLegal" />
                </div>
                <div>
                    <p id="resultName" />
                </div>
                <div>
                    <p id="resultAddress" />
                </div>
                <div>
                    <p id="resultEmail" />
                </div>
                <div>
                    <p id="resultMessage" />
                </div>
            </div>
        </div>
    </div>
</div>
